main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.glitch-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.glitch {
	position: relative;
	font-size: 4rem;
	font-weight: 700;
	margin: auto;
	line-height: 1.2;
	color: #ffffff;
	letter-spacing: 5px;
	animation: 4s ease-in-out infinite alternate shift;
	z-index: 1;
}

.glitch:after,
.glitch:before {
	display: block;
	content: attr(data-glitch);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
}

.glitch:before {
	animation: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both
		glitch-color;
	color: #6e45ff;
	z-index: -1;
}

.glitch:after {
	animation: 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse both
		glitch-color;
	color: #b14968;
	z-index: -2;
}

@keyframes glitch-color {
	0%,
	to {
		transform: translate(0);
	}

	20% {
		transform: translate(-3px, 3px);
	}

	40% {
		transform: translate(-3px, -3px);
	}

	60% {
		transform: translate(3px, 3px);
	}

	80% {
		transform: translate(3px, -3px);
	}
}

to {
	transform: translate(0);
}

.creepy-clerk {
	max-width: 280px;
	margin-top: 40px;
}

@media (min-width: 768px) {
	.glitch {
		font-size: 4.4rem;
	}
	.creepy-clerk {
		max-width: 500px;
		margin-top: 30px;
	}
}
