.sign-in-container {
	margin-top: 32px;
}

h2 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

.input-container {
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	gap: 2px;
	margin-bottom: 20px;
}

.input-container input {
	border-radius: 20px;
	height: 30px;
}

.input-container input::placeholder {
	padding-left: 5px;
}

.submit-button {
	background-color: rgb(36, 35, 36);
	color: whitesmoke;
	margin: 0 auto;
	width: 120px;
	height: 40px;
	border: 1px solid whitesmoke;
	border-radius: 8px;
	transition: all 100ms ease-in-out;
}

.info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	margin-top: 24px;
}

@media (min-width: 768px) {
	.sign-in-container {
		max-width: 600px;
		margin: 0 auto;
		margin-top: 50px;
		padding-bottom: 20px;
		border: 1px solid whitesmoke;
		border-radius: 20px;
	}
	.submit-button {
		font-size: 1.2rem;
	}
	.submit-button:hover {
		background-color: rgb(134, 15, 34);
	}

	.input-container {
		max-width: 50%;
	}

	.input-container input {
		max-width: 400px;
	}


}
